
html {
  box-sizing: border-box;
  font-family: Helvetica, Arial, sans-serif
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* body {
  margin: 0;
} */

/* Responsive Images */
/* 
embed,
iframe,
img,
object,
video {
  max-width: 100%;
} */

/* h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p,
pre,
blockquote,
figure,
hr {
  margin: 0;
  padding-right: 0;
  padding-left: 0;
} */

/* a {
  text-decoration: none;
} */

/* a:focus {
  outline: none;
} */

/* button:hover{
    padding-right: 25px;
  } */
  


/* h1,
h2,
h3,
h4,
h5,
h6 {
  display: block;
} */

/* Removes all decimals and discs from lists */

/* ol,
ul {
  list-style: none;
} */

/* 
 * Completely resets form items
 * ----------------------------
 * Super hard reset that removes all borders
 * and radiuses of all form items (including
 * checkboxes and radios)
 */


button {
  border: 0;
  border-radius: 20px;
  background-color: rgb(16, 14, 22) transparent;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
  /* outline: none;
  appearance: none;
  text-align: right; */
}

/* input:hover,
input:active,
input:focus,
textarea:hover,
textarea:active,
textarea:focus, */
/* button:hover,
button:active,
button:focus */
button:hover {
  outline: none;
  opacity: 0.4;
  background-color:red
}

/* :root {
  font-family: Helvetica, Arial, sans-serif;
} */

html {
  font-size: 175%;
  font-weight: 300;
  line-height: 1.3;
}

body {
  align-items: center;
  background-image: linear-gradient(236deg, #d8d78e, #27a5e0);
  display: flex;
  height: 100vh;
  justify-content: center;
}

.container {
  max-width: 20em;
}

.container > h1 {
  text-align: center;
  text-shadow: 9px 5px 10px#ff0000;
  color:rgb(37, 29, 29);
}

.calculator {
  border-radius: 12px;
  /* box-shadow: 5px 5px 40px rgba(226, 2, 2, 0.15); */
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  max-width: 15em;
  /* overflow: hidden; */
}

.calculator__display {
  background-color: #222222;
  color: #fff;
  font-size: 1.714285714em;
  padding: 0.5em 0.75em;
  text-align: right;
}

.calculator__keys {
  background-color: rgb(116, 184, 150);
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(4, 1fr);
}

.calculator__keys > * {
  background-color: #fff;
  padding: 0.5em 1.25em;
  position: relative;
  text-align: center;
}

.calculator__keys > *:active::before,
.calculator__keys > .is-depressed::before {
  background-color: rgba(0, 0, 0, 0.2);
  bottom: 0;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.5) inset;
  content: "";
  left: 0;
  opacity: 0.3;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.key--operator {
  background-color: rgb(253, 239, 34)
}

.key--equal {
  background-image: linear-gradient(to bottom, #fe886a, #ff7033);
  grid-column: -2;
  grid-row: 2 / span 4;
}

.ac{
    background-color: rgb(57, 208, 235);
    
}

#delete{
  width: 100%;
  height:60px;
  background-color: rgb(158, 51, 51);
}